.app {
  text-align: center;
  padding: 2%;
}
.app-title {
  font-size: 40px;
  padding: 2%;
}
.form-grp {
  padding: 2%;
}
input, .btn{
  margin: 5px;
}
.list-group-item {
  padding: 2%;
}
.list-item {
  text-align: left;
}
.list-delete-item {
  text-align: right;
  cursor: pointer;
  color: red;
}
